# Code editors
.idea
.vscode

# Environment variables and virtual environment
.env
.venv

# Pytest
.pytest_cache
.coverage
.coverage.*

# Etc
__pycache__
Pipfile.lock
/bin
*.sqlite
*.db
*_private*
*.xlsx