[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4= "*"
lxml= "*"
python-dotenv = "*"
requests = "*"
selenium = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
