[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4= "*"
lxml= "*"
python-dotenv = "*"
requests = "*"
selenium = "*"
sqlalchemy = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
lint = "flake8 --statistics"
test = "pytest"
